{% extends "base.html" %}

{% block content %}

<div class="biasless-post">
	
	{% for article in articles %}

    <!-- Container for an article body -->
    <div class="biasless-content col-1" style="float:left; {% if loop.index0 is divisibleby 3 %} clear: both; {% endif %}">
        <div class="biasless-article-heading">
            <div class="biasless-article-date">
                {{article.created.strftime("%b %d, %Y")}}
            </div>
        
            <div class="biasless-article-id">
                {{article.key.integer_id()}}
            </div>
        </div>
        
        <div class="biasless-article-title">
            <a href="article/{{article.key.integer_id()}}">{{article.title}}</a>
        </div>
        
        <div class="biasless-article-image">
            <a href = "{{article.url}}">
                <img src="{{article.image}}" alt="{{article.image}}">
            </a>
        </div>
        
        <div class="biasless-article-source">
            From: {{article.source}}
        </div>
        
        <div class="biasless-article-description">
            
            {{article.description}}
        </div>
        
        <div class="biasless-article-footer">
            Bias Score: {{article.score}}
        </div>

    </div>

    {% endfor %}

</div>


{% endblock %}
