body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
}

img {
    border-radius: 10px;
    max-width: 100%;
    max-height: auto;
}

label {
    font-size: 1.2em;
}

input[type=text] {
    padding: 0.1em 0.1em;
    margin: 0.1em 0;
    width: 95%;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 0.1em 0.1em;
    margin: 0.1em 0;
    width: 50%;
    box-sizing: border-box;
}


.biasless-comment-bottom{
    border-bottom: 1px solid rgb(192,192,192);
}

/* gradient */
#biasless-grad1 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, blue, yellow, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, blue, yellow, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, blue, yellow, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, blue, yellow, red); /* Standard syntax (must be last) */
}

/* colorbar */
.biasless-colorbar{
    position: relative;
    margin: 1em 0em;
    padding: 0.3em 0em;
}

.biasless-hover-white:hover {
    color:#000!important;
    background-color:#fff!important;
}

.biasless-black {
    color:#fff!important;
    background-color:#000!important;
}

.biasless-transparent {
    background-color:transparent!important;
}

.biasless-border {
    border:1px solid #ccc!important;
}

.biasless-location1 {
    position: relative;
    left: 5%;
}

.biasless-location2 {
    position: relative;
    left: 10%;
}

.biasless-location3 {
    position: relative;
    left: 15%;
}

.biasless-location4 {
    position: relative;
    left: 25%;
}

.biasless-location5 {
    position: relative;
    left: 35%;
}

.biasless-location6 {
    position: relative;
    left: 45%;
}

/* comment */

.biasless-comments {
    position: relative;
    padding: 1em;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/* post */
.biasless-post {
    position: relative;
    margin: 1em 1em;
    padding: 1em 1em;
    width: 450px;
}

.biasless-post-heading {
    position: relative;
    width: 100%;
/*    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important; */
}

.biasless-post-title {
    padding: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.biasless-post-date {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 1em;
}

.biasless-post-id {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 1em;
}

.biasless-content {
    position: relative;
    padding: 1em;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/* card */
.biasless-card {
    position: relative;
/*    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;*/
}

.biasless-card-title {
    position: relative;
    padding: 0.5em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

.biasless-card-image {
    position: relative;
    padding: 0.5em 0.5em;
    margin: auto;
}

.biasless-card-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.biasless-card-leftarrow {
    float: left !important
}

.biasless-card-rightarrow {
    float: right !important
}

/* Comment Form */

.biasless-newcomments {
    position: relative;
    padding: 1em;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

label.biasless-form {
    font-size: 1.2em;
}

input[type=text].biasless-form {
    padding: 0.1em 0.1em;
    margin: 0.1em 0;
    width: 95%;
    box-sizing: border-box;
}

input[type=submit].biasless-form {
    padding: 0.1em 0.1em;
    margin: 0.1em 0;
    width: 50%;
    box-sizing: border-box;
}

.w3-badge {
    background-color: #000;
    color: #fff;
    display:inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    height: 1em;
    width: 1em;
    padding: 0;
    border-radius: 50%;
}

.biasless-hover-text-white:hover {
    -webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s, filter 0.3s;
    transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s, filter 0.3s;
    color: #fff!important;
}


.w3-tag,.w3-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}

.biasless-card-leftarrow, .biasless-card-rightarrow, .w3-badge {cursor:pointer}


.biasless-container {
	width: 100%;
	height: 3.0em;
	position: relative;
	background-color: #f1f1f1;
}

/* Top Menu */

.biasless-topmenu {
    width: 100%;
    height: 3.0em;
    position: relative;
    background-color: #f1f1f1;
}

.biasless-navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.biasless-navbar li {
	float: left;
}

.biasless-navbar li a, .biasless-dropbtn {
	display: block;
	text-align: center;
	padding: 1em 1em;
}

.biasless-navbar li a:hover, .biasless-dropdown:hover .biasless-dropbtn {
	background-color: white;
}

.biasless-error {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.biasless-dropdown {
	display: inline-block;
}

.biasless-dropdown:hover .biasless-dropdown-content {
	display: block;
}

.biasless-dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	background-color: #f9f9f9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.biasless-dropdown-content a {
	display: block;
	text-decoration: none;
	color: black;
}

.biasless-dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Signup */
.biasless-signup {
    position: relative;
    padding: 1em;
    margin: auto;
    width: 400px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.biasless-signup .header {
    text-align: center;
    display: block;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.biasless-signup .table {
    position: relative;
    padding: 1em;
    margin: auto;
    width: 100%;
}

.biasless-signup .label {
    font-size: 1em;
}

/* Login */
.biasless-login {
    position: relative;
    padding: 1em;
    margin: auto;
    width: 400px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.biasless-login .header {
    text-align: center;
    display: block;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.biasless-login .table {
    position: relative;
    padding: 1em;
    margin: auto;
    width: 100%;
}

.biasless-signup .label {
    font-size: 1em;
}
