<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/biasless.css">
		<title>Main</title>
	</head>
	
	<body>
		<div class="biasless-topmenu">
			<ul class="biasless-navbar w3-row w3-border w3-gray">
				<li class="w3-col s8 w3-xlarge"><b><a href="/">BIASLESS</a></b></li>
				<li class="w3-col s2 w3-large w3-center"><b><a href="#">Your Bias:</a></b></li>
                <li class="w3-col s1 w3-large w3-center"><b>
                    {% if username %}
                    <a href="/">{{username}}</a>
                    {% else %}
                    <a href="/login">Login</a>
                    {% endif %}
                </b></li>
                <li class="w3-col s1 w3-large w3-center"><b>
				    {% if username %}
				        <a href="/logout">Logout</a>
				    {% else %}
				        <a href="/signup">Signup</a>
				    {% endif %}
                </b></li>
			</ul>
		</div>
		
        <div class="biasless-error">{{error}}</div>
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
	</body>

</html>
