{% extends "base.html" %}

{% block content %}

<div class="biasless-post">
	
	{% for post in posts %}
    <!-- Container for a post body -->
    <div class="biasless-content col-1" style="float:left; {% if loop.index0 is divisibleby 3 %} clear: both; {% endif %}">
        
        <!-- Header for a post -->
        <div class="biasless-post-heading">
            <div class="biasless-post-date">
                <span>{{post.created.strftime("%b %d, %Y")}}</span>
            </div>
            <div class="biasless-post-id">
                <span>{{post.key.integer_id()}}</span>
            </div>
            <div class="biasless-post-title">
                <a href="post/{{post.key.integer_id()}}">{{post.title}}</a>
            </div>
        </div>
        
        <!-- Controls for slides -->
        <div class="biasless-colorbar w3-center w3-display-container" id="biasless-grad1" >
            <div class="biasless-card-leftarrow w3-padding-left biasless-hover-text-white" onclick="plusDivs{{post.key.integer_id()}}(-1)">&#10094;
            </div>
            <div class="biasless-card-rightarrow w3-padding-right biasless-hover-text-white" onclick="plusDivs{{post.key.integer_id()}}(1)">&#10095;
            </div>
            <span class="w3-badge dots{{post.key.integer_id()}} biasless-border biasless-black biasless-hover-white biasless-location1" onclick="currentDiv{{post.key.integer_id()}}(1)"></span>
            <span class="w3-badge dots{{post.key.integer_id()}} biasless-border biasless-black biasless-hover-white biasless-location2" onclick="currentDiv{{post.key.integer_id()}}(2)"></span>
            <span class="w3-badge dots{{post.key.integer_id()}} biasless-border biasless-black biasless-hover-white biasless-location3" onclick="currentDiv{{post.key.integer_id()}}(3)"></span>
            <span class="w3-badge dots{{post.key.integer_id()}} biasless-border biasless-black biasless-hover-white biasless-location4" onclick="currentDiv{{post.key.integer_id()}}(4)"></span>
            <span class="w3-badge dots{{post.key.integer_id()}} biasless-border biasless-black biasless-hover-white biasless-location5" onclick="currentDiv{{post.key.integer_id()}}(5)"></span>
        </div>
        
        <!-- Slides -->
        
        {% for article in post.articles %}
        
        <div class="biasless-card mySlides{{post.key.integer_id()}}">
            <div class="biasless-article-heading">
                <div class="biasless-article-date">
                    {{article.created.strftime("%b %d, %Y")}}
                </div>
                
                <div class="biasless-article-id">
                    ID
                </div>
            </div>
            
            <div class="biasless-article-title">
                Link
            </div>
            
            <div class="biasless-article-image">
                <a href = "{{article.url}}">
                    <img src="{{article.image}}" alt="{{article.image}}">
                        </a>
            </div>
            
            <div class="biasless-article-source">
                From: {{article.source}}
            </div>
            
            <div class="biasless-article-description">
                
                {{article.description}}
            </div>
            
        </div>
        
        {% endfor %}
        
    </div>
    <!-- End of the container -->

    {% endfor %}

</div>

<script>
{% for post in posts %}

var slideIndex{{post.key.integer_id()}} = 1;
showDivs{{post.key.integer_id()}}(slideIndex{{post.key.integer_id()}});

function plusDivs{{post.key.integer_id()}}(n) {
  showDivs{{post.key.integer_id()}}(slideIndex{{post.key.integer_id()}} += n);
}

function currentDiv{{post.key.integer_id()}}(n) {
  showDivs{{post.key.integer_id()}}(slideIndex{{post.key.integer_id()}} = n);
}

function showDivs{{post.key.integer_id()}}(n) {
    var i;
    var x = document.getElementsByClassName("mySlides{{post.key.integer_id()}}");
    var dots = document.getElementsByClassName("dots{{post.key.integer_id()}}");
    if (n > x.length) {slideIndex{{post.key.integer_id()}} = 1;}
    if (n < 1) {slideIndex{{post.key.integer_id()}} = x.length;}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace("biasless-black", "biasless-transparent");
    }
    x[slideIndex{{post.key.integer_id()}}-1].style.display = "block";
    dots[slideIndex{{post.key.integer_id()}}-1].className = dots[slideIndex{{post.key.integer_id()}}-1].className.replace("biasless-transparent", "biasless-black");
}
{% endfor %}

</script>

{% endblock %}
