{% extends "base.html" %}

{% block content %}
<br><br>

<div class="biasless-article">
    
    <!-- Container for an article body -->
    <div class="biasless-content">
        <div class="biasless-article-heading">
            <div class="biasless-article-date">
                {{article.created.strftime("%b %d, %Y")}}
            </div>
            
            <div class="biasless-article-id">
                {{article.key.integer_id()}}
            </div>
        </div>
        
        <div class="biasless-article-title">
            <a href="{{article.key.integer_id()}}">{{article.title}}</a>
        </div>
        
        <div class="biasless-article-image">
            <a href = "{{article.url}}">
                <img src="{{article.image}}" alt="{{article.image}}">
                    </a>
        </div>
        
        <div class="biasless-article-source">
            From: {{article.source}}
        </div>
        
        <div class="biasless-article-description">
            
            {{article.description}}
        </div>
        
        <div class="biasless-article-footer" id="score">
            Bias Score: {{article.score}}<br>
            {% if score %}
            You gave {{ score.score }} at {{ score.created.strftime("%c") }}
            {% endif %}
        </div>
        
    </div>

		
    <!-- Container for comments -->
    <div class="biasless-comments">
        <table style="width:100%">
            <caption>Comments ({{no_comments}})</caption>
            {% for c in comments2 %}
            <tr>
                <th style="width:50%">{{ c.username }}</th>
                <td style="width:50%">{{ c.created.strftime("%c") }}</td>
            </tr>
            <tr>
                <td colspan="2"><div class="biasless-comment-bottom">{{ c.comment }}</div></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    
    <div class="biasless-score">
        <form>
        <p>
        <label class="biasless-form">your score</label>
        <input class="biasless-form" type="range" name="score" min="-5" max="5" step="1" onchange="showValue(this.value)" value="{{score.score}}">
            <span id="range">{{score.score}}</span>
        </p>
        <button type="button" onclick="loadDoc()">Give your score</button>
        </form>
    </div>

    
    <!-- Form for a new comment -->

    <div class="biasless-newcomments">
        <p>
        <h3>Submit your comment</h3>
        </p>
        
        <form class="biasless-form" method="post">
            <p>
            <label class="biasless-form">username</label>
            <input class="biasless-form" type="text" name="username" value="{{username}}">
            </p>
            <p>
            <label class="biasless-form">comment</label>
            <input class="biasless-form" type="text" name="comment" value="{{comment}}">
            </p>
                        
            <div class="error">{{error}}</div>
                        
            <input class="biasless-form" type="submit">
                            
        </form>
    </div>
    
</div>

<script>
function showValue(newValue) {
    document.getElementById("range").innerHTML = newValue;
}

function loadDoc() {
    var xhttp = new XMLHttpRequest();
    var score = document.getElementById("range")
    var params = "username={{username}}&score="+score.innerHTML;
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("score").innerHTML = this.responseText;
        }
    };
    
    xhttp.open("POST", "/score/{{article.key.integer_id()}}", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send(params);
}
</script>

{% endblock %}
